<%- include('header'); %>
  <section class="tasks">
    <form action="/" method="POST" id="taskForm">
      <input id="inputText" type="text" name="newTask" maxlength="60" placeholder="Add a new task">
      <button id="addItem">Add</button>
    </form>
    <h2>My Tasks</h2>
    <ul class="todoList">
      <% tasks.filter((item) => item.completed == false).reverse().forEach((task) => { %>
        <li class="taskItem">
          <input class="taskItem__checkbox" type="checkbox" name="check" value="<%= task.name %>">
          <%- task.name %>
          <a href="/<%= task.id %>/edit" class="taskItem__btnEdit">Edit</a>
          <form action="/<%= task.id %>?_method=DELETE" method="POST">
            <input class="taskItem__btnDelete" type="submit" value="Delete">
          </form>
        </li>
      <% }) %>
    </ul>
    <h2>Completed</h2>
    <ul class="completedList">
      <% tasks.filter((item) => item.completed == true).reverse().forEach((task) => { %>
        <li>
          <input type="checkbox">
          <%= task.name %>
          <form action="/<%= task.id %>?_method=DELETE" method="POST">
            <input class="taskItem__btnDelete" type="submit" value="Delete">
          </form>
        </li>
      <% }) %>
    </ul>
  </section>
<%- include('footer'); %>