<%- include('header'); %>
  <header class="header">
    <h1 class="header__title">Olá!</h1>
    <p class="header__info">Você tem <%= tasks.filter((item) => item.completed == false).length %> tarefas pendentes.</p>
  </header>
  <section class="tasks">
    <h2 class="tasks__title">Minhas Tarefas</h2>
    <ul class="tasks__list">
      <% tasks.filter((item) => item.completed == false).reverse().forEach((task) => { %>
        <li class="taskItem">
          <input id="<%= task.id %>" class="taskItem__checkbox" type="checkbox" value="<%= task.name %>">
          <label class="taskItem__label" for="<%= task.id %>"><%- task.name %>
            <div class="taskItem__controls">
              <a href="/<%= task.id %>/edit" class="taskItem__btnEdit">Editar</a>
              <form class="taskItem__formDelete" action="/<%= task.id %>?_method=DELETE" method="POST">
                <input class="taskItem__btnDelete" type="submit" value="Deletar">
              </form>
            </div>
          </label>
        </li>
      <% }) %>
    </ul>
    <h2 class="tasks__title">Finalizadas</h2>
    <ul class="tasks__list">
      <% tasks.filter((item) => item.completed == true).reverse().forEach((task) => { %>
        <li class="taskItem finishedItem">
          <input id="<%= task.id %>" class="taskItem__checkbox" type="checkbox" value="<%= task.name %>">
          <label class="taskItem__label finishedItem__label" for="<%= task.id %>"><%- task.name %>
            <div class="taskItem__controls">
              <form class="taskItem__formDelete" action="/<%= task.id %>?_method=DELETE" method="POST">
                <input class="taskItem__btnDelete" type="submit" value="Deletar">
              </form>
            </div>
          </label>
        </li>
      <% }) %>
    </ul>
  </section>
  <form action="/" method="POST" class="taskForm">
    <input id="inputText" class="taskForm__inputText" type="text" name="newTask" maxlength="60" placeholder="Digite uma nova tarefa">
    <button id="addItem" class="taskForm__btnSubmit">&#43;</button>
  </form>
<%- include('footer'); %>